.addProduct{
  height: 600px;
  text-align: center;
  margin: 30px 300px;
  padding-top: 20px;
  background-color: white;
}

.addProductTitle{
  color: black;
}
.form{
  margin: 20px 30px;
  text-align: left;
  input{
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
  }
  button{
    background-color: skyblue;
  }
  p::before{
    content: '*';
    color:red;
  }
}