.tb-head{
  display:inline-block;
  margin: 15px 20px;
}
.orderList{
  height: 600px;
  background-color: white;
  //margin:20px 40px auto 40px;
  margin: 30px 300px;
  padding-top: 20px;
  text-align: center;
}
.table{
  //width: 90%;
  margin:20px 30px
}