.product-img{
  height: 60%;
  width: 100%;
}
.details{
  border: 1px solid lightgrey;
  margin: 10px 10px;
  height: 260px;
  width: 180px;
  p{
    margin: 10px auto 0px auto;
  }

}
.add{
  position: relative;
  left: 70%;
}
.product-name{

}