
.header{
  background-color: black;
  height:80px;
  padding-left: 340px;
  a{
    text-decoration:none
  }
  .a-title:hover{
    background-color: skyblue;
  }
  .a-title{
    display:inline-block;
    width: 80px;
    height: 80px;
    text-align:center;
  }
}
.title{
  display:inline-block;
  color: white;
  margin: 30px auto;

}
.footer{
  position: relative;
  text-align:center;
}
li{
  list-style: none;
}
.icon{
  margin-right:10px
}
